telegram:
  bot:
    token: 7467380526:AAGscayEpyMQOmIIDoEZSlVJo-33MvEgm3I
    admin: 771424762
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        globally_quoted_identifiers: true
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB

server:
  port: 8085
